pandas
openpyxl
python-docx
pypdf
pymupdf
langchain-text-splitters
sentence-transformers
huggingface_hub
faiss-cpu
numpy
langchain
langchain-community
langchain-huggingface
langchain-core
unstructured